{% set currentFilterType = isChild ? taxonomy.filterTypeChild : taxonomy.filterType %}

{% if currentFilterType == 'multiselect' %}
	{% include ['dynamic-archive/partials/filters/filter-multiselect.twig', 'partials/filters/filter-multiselect.twig'] ignore missing with { terms: terms, taxonomy: taxonomy, instanceId: instanceId, isChild: isChild } %}
{% elseif currentFilterType == 'dropdown' %}
	<select
		aria-labelledby="taxonomy-{{ instanceId }}-{{ taxonomy.name }}-label"
		class="wp-block-jcore-dynamic-archive__filters__taxonomies__type{{ ' taxonomy-type-' ~ taxonomy.name }}__dropdown"
		data-wp-on-async--change="actions.filterChange"
		data-taxonomy="{{ taxonomy.name }}"
		data-filter-type="{{ currentFilterType }}"
		data-is-child="{{ isChild }}"
	>
		{% set fieldType = attribute((terms|filter(term => term.active)|first), taxonomy_field_type) ?? '' %}
		<option
			value="{{ fieldType }}"
			data-term="{{ fieldType }}"
			data-taxonomy="{{ taxonomy.name }}"
			{% if taxonomy.terms|filter(term => term.active)|length == 0 %}
				selected="selected"
			{% endif %}
		>{{ __( 'Select', 'jcore-dynamic-archive' ) }}</option>
{% endif %}

{% if currentFilterType == 'radio' %}
	{% include ['dynamic-archive/partials/filters/filter-radio-all.twig', 'partials/filters/filter-radio-all.twig'] ignore missing with { term: '', taxonomy: taxonomy } %}
{% endif %}

{% if currentFilterType != 'multiselect' %}
	{% for term in terms %}
		{% include ['dynamic-archive/partials/filters/filter-' ~ term.filterType ~ '.twig', 'partials/filters/filter-' ~ term.filterType ~ '.twig'] ignore missing with { term: term, taxonomy: taxonomy } %}
	{% endfor %}
{% endif %}

{% if currentFilterType == 'dropdown' %}
	</select>
{% endif %}
