{% if taxonomies_filter|length > 0 %}
	<div class="wp-block-jcore-dynamic-archive__filters__taxonomies">
		{% for term_type in taxonomies_filter|keys %}
			<div class="wp-block-jcore-dynamic-archive__filters__taxonomies__type{{ ' taxonomy-type-' ~ term_type }}">
				{% for taxonomy in taxonomies_filter[term_type] %}
					<label for="taxonomy-{{ attributes.instanceId }}-{{ taxonomy['id'] }}"
						   class="wp-block-jcore-dynamic-archive__filters__taxonomies__label{{ taxonomy['checked'] ? ' checked' : '' }}{{ ' taxonomy-type-' ~ taxonomy['type'] }}"
					>{{ taxonomy['name'] }}</label>
					<input type="checkbox"
						   name="{{ build_param_name( 'taxonomy', attributes.instanceId ) }}[{{ taxonomy['type'] }}][]"
						   value="{{ taxonomy['id'] }}"
						   id="taxonomy-{{ attributes.instanceId }}-{{ taxonomy['id'] }}" @change="$refs.submit.click()"
						{{ taxonomy['checked'] ? 'checked' : '' }}
						   class="wp-block-jcore-dynamic-archive__filters__taxonomies__checkbox{{ taxonomy['checked'] ? ' checked' : '' }}{{ ' taxonomy-type-' ~ taxonomy['type'] }}"
					/>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
