<label
	class="wp-block-jcore-dynamic-archive-filters__checkbox {{ term.active ? 'is-active' : '' }}"
	for="taxonomy-{{ instanceId }}-{{ term.type }}-{{ term.id }}"
	data-wp-on-async--mouseover="actions.prefetchFilter"
	tabindex="0"
	data-wp-on-async--keydown="actions.labelKeyDown"
>
	{{ term.name }}
</label>
<input
	type="checkbox"
	id="taxonomy-{{ instanceId }}-{{ term.type }}-{{ term.id }}"
	name="{{ term.type }}"
	value="{{ attribute(term, taxonomy_field_type) }}"
	data-wp-on-async--change="actions.filterChange"
	{% if term.active %}
		data-active
	{% endif %}
	data-taxonomy="{{ term.type }}"
	data-filter-type="{{ term.filterType }}"
	data-term="{{ attribute(term, taxonomy_field_type) }}"
	data-is-child="{{ term.isChild }}"
	{% if term.active %}
		checked="checked"
	{% endif %}
	class="wp-block-jcore-dynamic-archive-filters__checkbox__input"
/>
