<label
	class="wp-block-jcore-dynamic-archive-filters__radio"
	for="taxonomy-{{ instanceId }}-{{ term.type }}-{{ term.id }}"
	data-wp-on-async--mouseover="actions.prefetchFilter"
>
	{{ term.name }}
</label>
<input
	type="radio"
	id="taxonomy-{{ instanceId }}-{{ term.type }}-{{ term.id }}"
	name="{{ term.type }}"
	value="{{ term.id }}"
	data-wp-on-async--change="actions.filterChange"
	{% if term.active %}
		data-active
	{% endif %}
	data-taxonomy="{{ term.type }}"
	data-filter-type="{{ term.filterType }}"
	data-term="{{ term.id }}"
	{% if term.active %}
		checked="checked"
	{% endif %}
	class="wp-block-jcore-dynamic-archive-filters__radio__input"
/>
