<form id="dynamic-archive-{{ attributes.instanceId }}"
	  hx-get="{{ current_path }}" hx-target="#dynamic-archive-{{ attributes.instanceId }}"
	  hx-select="#dynamic-archive-{{ attributes.instanceId }}"
	  hx-push-url="true"
	  class="wp-block-jcore-dynamic-archive"
	  hx-ext="alpine-morph" hx-swap="morph" x-data="{}" x-ref="form" hx-trigger="submit">
	<div class="wp-block-jcore-dynamic-archive__filters">
		{% include ['dynamic-archive/partials/filters.twig', 'partials/filters.twig'] ignore missing %}
	</div>
	<div class="wp-block-jcore-dynamic-archive-posts {{ 'post-type-' ~ attributes.postType }}">
		<div
			class="wp-block-jcore-dynamic-archive-posts__inner{{ attributes.masonryGrid ? ' masonry' : '' }}{{ attributes.columns ? ' columns-' ~ attributes.columns : '' }}">
			{% for post in posts %}
				{% include ['dynamic-archive/partials/tease.twig', 'partials/tease.twig'] with { post: post, nr: loop.index } %}
			{% endfor %}
			{% if attributes.showPagination %}
				{% include ['dynamic-archive/partials/pagination.twig', 'partials/pagination.twig'] %}
			{% endif %}
		</div>
	</div>
	<input type="submit" x-ref="submit" hidden>
</form>
