<div id="dynamic-archive-{{ attributes.instanceId }}"
	{{ block_wrapper_attributes }}
	{{ interactivity_context_attribute }}
	 data-wp-interactive="jcore/dynamic-archive"
	 data-wp-router-region="dynamic-archive-{{ attributes.instanceId }}"
>
	<div class="wp-block-jcore-dynamic-archive__filters">
		{% include ['dynamic-archive/partials/filters.twig', 'partials/filters.twig'] ignore missing %}
	</div>
	<div class="wp-block-jcore-dynamic-archive-posts {{ 'post-type-' ~ attributes.postType }}">
		<div
			class="wp-block-jcore-dynamic-archive-posts__inner{{ attributes.masonryGrid ? ' masonry-grid' : '' }}{{ attributes.columns ? ' columns-' ~ attributes.columns : '' }}">
			{% for post in posts %}
				{% include ['dynamic-archive/partials/tease.twig', 'partials/tease.twig'] with { post: post, nr: loop.index } %}
			{% endfor %}
		</div>
	</div>
	<div class="wp-block-jcore-dynamic-archive-posts__pagination">
		{% if attributes.showPagination and not attributes.infiniteScroll %}
			{% include ['dynamic-archive/partials/pagination.twig', 'partials/pagination.twig'] ignore missing %}
		{% endif %}
		{% if attributes.showPagination and attributes.infiniteScroll %}
			{% include ['dynamic-archive/partials/load-more.twig', 'partials/load-more.twig'] ignore missing %}
		{% endif %}
	</div>
</div>
